body{
    font-family:Arial, Helvetica, sans-serif;
  }

h1 {
    background-color: black;
    color: bisque;
}

#index-button {
    background-color: rgb(199, 209, 219);
    font-size: 16px;
}

a:link {
    text-decoration: none;
    color: bisque;
}

a:visited{
    text-decoration: none;
    color: bisque;
}

.description {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.recipe-links {
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
}

ul li {
    margin-bottom: 20px;
}